<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page1</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style.css')}} ">
    
</head>

<body>

    
    <p><strong>{{ message }}</strong></p>
    <a href="{{url_for ('page1') }}">retourner à la page1</a> <br>
    <a href="{{url_for ('page2') }}">aller à la page2</a> <br>
    <a href="{{url_for ('page3') }}">aller à la page3</a> <br>


    <!-- <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img id="img" class="login-img" src="{{ url_for('static', filename= 'image/login.png') }}" alt="" class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1"> -->
                    <form>
                    
                        
                        <div class="form-outline mb-4">
                            <input type="email" id="form3Example3" class="form-control form-control-lg"
                                placeholder="Entrer votre adresse mail" />
                            <label class="form-label" for="form3Example3">Adresse Email</label>
                        </div>

                        
                        <div class="form-outline mb-3">
                            <input type="password" id="form3Example4" class="form-control form-control-lg"
                                placeholder="Entrer votre mot de passe" />
                            <label class="form-label" for="form3Example4">Mot de passe</label>
                        </div>

                        <div class="d-flex justify-content-between align-items-center"> 
                            
</body>

</section>

</html>